/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.DS_Store
tmp/
/.vs/Clojure/v14/.suo
/project.sln
/.vs
/Project1
/project.VC.db
/project.VC.VC.opendb
/bible.txt
